# üîé An√°lisis exploratorio del dataset Air Quality in Madrid (2005-2015)

Este proyecto utiliza el dataset ‚ÄúAir Quality in Madrid (2001-2018)‚Äù de Kaggle, que contiene registros diarios y horarios de diversos contaminantes recogidos por estaciones de monitoreo en Madrid. El objetivo principal es comparar la calidad del aire entre los a√±os 2005 y 2015, analizando c√≥mo han cambiado los niveles de contaminantes y las tendencias temporales a lo largo de la d√©cada.

El dataset ofrece suficiente cantidad de registros para realizar consultas significativas, incluyendo an√°lisis por contaminante, estaci√≥n y per√≠odo temporal, sin requerir infraestructura de procesamiento especial. Esto permite explorar tendencias hist√≥ricas, estacionales y anuales, facilitando una evaluaci√≥n clara de los cambios en la calidad del aire durante una d√©cada clave en Madrid.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Rutas de los archivos CSV
csv_2005 = r"data\csvs_per_year\csvs_per_year\madrid_2005.csv"
csv_2015 = r"data\csvs_per_year\csvs_per_year\madrid_2015.csv"
stations_csv = r"data\stations.csv"

# Cargar los datasets
df_2005 = pd.read_csv(csv_2005)
df_2015 = pd.read_csv(csv_2015)
stations = pd.read_csv(stations_csv)

# Renombrar columnas para alinear datasets si es necesario
df_2015 = df_2015.rename(columns={'NO': 'NOx', 'station': 'id'})
df_2005 = df_2005.rename(columns={'station': 'id'})

# Unificar columnas comunes
common_cols = list(set(df_2005.columns).intersection(set(df_2015.columns)))
df_2005_common = df_2005[common_cols]
df_2015_common = df_2015[common_cols]

# Hacer merge con las estaciones para mostrar el nombre
df_2005_common = df_2005_common.merge(stations[['id','name']], on='id', how='left')
df_2015_common = df_2015_common.merge(stations[['id','name']], on='id', how='left')

# Mostrar tablas con pandas
print("=== Dataset 2005 (columnas comunes con nombre de estaci√≥n) ===")
display(df_2005_common.head())

print("=== Dataset 2015 (columnas comunes con nombre de estaci√≥n) ===")
display(df_2015_common.head())

=== Dataset 2005 (columnas comunes) ===

,TCH,BEN,NMHC,PM10,O_3,EBE,PM25,station,NOx,SO_2,TOL,CO,NO_2,date
0,NaN,NaN,NaN,14.91,14.720000,NaN,10.65,28079001,128.699997,4.62,NaN,0.77,57.130001,2005-11-01 01:00:00
1,1.35,1.52,0.25,30.93,11.680000,1.49,NaN,28079035,181.699997,7.80,7.98,0.65,86.559998,2005-11-01 01:00:00
2,NaN,NaN,NaN,14.60,30.469999,NaN,NaN,28079003,53.000000,5.76,NaN,0.40,46.119999,2005-11-01 01:00:00
3,NaN,NaN,NaN,15.16,21.379999,NaN,NaN,28079004,52.009998,6.60,NaN,0.42,37.220001,2005-11-01 01:00:00
4,NaN,NaN,NaN,5.00,33.410000,NaN,NaN,28079039,36.680000,3.00,NaN,0.57,32.160000,2005-11-01 01:00:00

=== Dataset 2015 (columnas comunes) ===

,TCH,BEN,NMHC,PM10,O_3,EBE,PM25,station,NOx,SO_2,TOL,CO,NO_2,date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28079004,90.0,10.0,NaN,0.8,82.0,2015-10-01 01:00:00
1,1.83,2.0,0.33,37.0,4.0,1.6,24.0,28079008,40.0,12.0,8.3,0.8,95.0,2015-10-01 01:00:00
2,NaN,3.1,NaN,NaN,NaN,1.8,NaN,28079011,29.0,NaN,7.1,NaN,97.0,2015-10-01 01:00:00
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,28079016,30.0,NaN,NaN,0.6,103.0,2015-10-01 01:00:00
4,NaN,NaN,NaN,NaN,2.0,NaN,NaN,28079017,95.0,9.0,NaN,NaN,96.0,2015-10-01 01:00:00

## üìä Robert (an√°lisis general y descriptivo)

- Promedio anual: ¬øCu√°l es la concentraci√≥n media de cada contaminante en el a√±o elegido? (tabla resumen).

- Mes con peor calidad del aire: ¬øQu√© mes tuvo la media m√°s alta de NO‚ÇÇ? (gr√°fico de barras mensual).

- Distribuci√≥n de O‚ÇÉ: ¬øCu√°l es el rango de concentraciones de O‚ÇÉ m√°s frecuente? (histograma).

- Picos diarios: ¬øQu√© d√≠a present√≥ la concentraci√≥n m√°s alta de PM10 en ese a√±o?

## üåç David (comparaciones y correlaciones)

- Estacionalidad en un a√±o: ¬øQu√© contaminante presenta mayores diferencias entre invierno y verano en el a√±o seleccionado?

- Correlaci√≥n: ¬øExiste correlaci√≥n entre los niveles diarios de NO‚ÇÇ y CO en ese a√±o?

- Laborables vs fines de semana: ¬øHay diferencias en los niveles de NO‚ÇÇ promedio entre d√≠as laborables y fines de semana?

- Variaci√≥n horaria: ¬øA qu√© horas del d√≠a se concentran los picos de NO‚ÇÇ en promedio durante el a√±o? (curva horaria).

## üå± Alba (limpieza, estaciones y comparaci√≥n)

- Valores nulos: ¬øQu√© porcentaje de valores faltan en cada contaminante ese a√±o y c√≥mo tratarlos?

- Estaciones de medici√≥n: ¬øQu√© estaci√≥n registr√≥ la mayor concentraci√≥n media de NO‚ÇÇ? (gr√°fico de barras por estaci√≥n).

- Comparaci√≥n mensual: ¬øC√≥mo evolucion√≥ la concentraci√≥n de PM10 a lo largo de los meses? (l√≠nea mensual).

- Contaminante predominante: ¬øCu√°l fue el contaminante con mayor concentraci√≥n media en ese a√±o?